<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- JZ Settings -->
	<category label="JZ Settings">
		<!-- General -->
		<setting type="lsep" label="General"/>
		<setting id="jz.dub" label="Show Dub Release Dates" type="bool" default="true"/>
<!--		<setting id="jz.sub" label="Show Sub Release Dates" type="bool" default="true"/>-->

		<setting id="jz.filler" label="Show Filler Info If Found" type="bool" default="false" />

		<setting id="context.deletefromdatabase" label="Show 'delete from database' in context menu" type="bool" default="true" />
		<setting id="context.marked.watched" label="Show 'Marked as Watched [COLOR blue](Watchlist)[/COLOR]' in context menu" type="bool" default="true" />
		<setting id="download.location" label="Download Location" type="folder" default="" />
	</category>
	<!-- General -->
	<category label="40300">
		<!-- General -->
		<setting id="titlelanguage" type="labelenum" label="40369" values="Romaji (Shingeki no Kyojin)|English (Attack on Titan)" default="English (Attack on Titan)"/>
		<setting id="searchhistory" type="labelenum" label="40301" values="Yes|No" default="Yes"/>
		<setting id="general.smart.scroll.enable" label="enable move to episode on" type="bool" default="true" />
		<setting id="general.scroll.wait.time" label="Wait time in ms" type="slider" option="int" range="300,100,2000" default="500" subsetting="true" visible="eq(-1,true) "/>
		<setting type="lsep" label="Language Invoker"/>
		<setting id="reuselanguageinvoker.toggle" label="Toggle Re-Use Language Invoker:   [COLOR red]Faster speeds but some instability![/COLOR]" type="action" option="close"
			 action="RunPlugin(plugin://plugin.video.otaku/toggleLanguageInvoker)"/>
		<setting id="reuselanguageinvoker.status" label="Re-Use Language Invoker Status: " type="text" default="Disabled" enable="false" />

		<!-- Interface -->
		<setting type="lsep" label="Meta Api" />
		<setting id="overide.meta.api" type="bool" label="Enable Choose Meta Api" default="false" />
		<setting id="meta.api" type="labelenum" label="Meta Api" values="simkl|jikanmoa|anizip" default="simkl" visible="eq(-1,true)"/>
		<setting type="lsep" label="40302"/>
		<setting id="interface.viewtypes.bool" label="Force view types on menus" type="bool" default="false"/>
		<setting id="interface.viewtypes.addon" type="labelenum" label="General Menu View" values="Wide List|List" default="Wide List" visible="eq(-1,true)"/>
		<setting id="interface.viewtypes.tvshows" type="labelenum" label="TV Show View" values="Wide List|Wall|Banner|Fanart|List|Poster|Shift|Info Wall" default="Wide List" visible="eq(-2,true)"/>
		<setting id="interface.viewtypes.episodes" type="labelenum" label="Episode View" values="Wide List|Wall|Info Wall" default="Wide List" visible="eq(-3,true)"/>
		<setting id="interface.cleantitles" label="Disable Title Names and Plot" type="bool" default="false"/>
		<setting id="interface.showemptyeps" label="Show Empty Episodes" type="bool" default="false" />
		<setting id="scraping.fanart" type="bool" label="40433" default="true" />
		<setting id="scraping.clearlogo" type="bool" label="40434" default="false" />
		<setting id="general.icons" type="labelenum" label="40388" values="Coloured|White" default="Coloured"/>
	</category>

	<!-- Provider -->
	<category label="40226">
		<setting type="lsep" label="Torrents" />
		<setting id="provider.nyaa" type="bool" label="Nyaa" default="true" enable="eq(1,false)" />
		<setting id="provider.nyaaalt" type="bool" label="Nyaa Alt (For Verizon Users)" default="false" enable="eq(-1,false)" />
		<setting id="provider.animetosho" type="bool" label="Anime Tosho" default="true" />


		<setting type="lsep" label="Embeds" />
		<setting id="provider.animepahe" type="bool" label="Animepahe" default="false" />
		<setting id="provider.animess" type="bool" label="Animess" default="false" />
		<setting id="provider.animixplay" type="bool" label="Animixplay" default="false" />
		<setting id="provider.aniplay" type="bool" label="Aniplay" default="false" />
		<setting id="provider.aniwave" type="bool" label="Aniwave" default="false" />
		<setting id="provider.gogo" type="bool" label="Gogo" default="true" />
		<setting id="provider.offline_search" type="bool" label="Offline Search" default="true" />



	</category>

	<!-- Playback -->
	<category label="40307">
		<!-- General -->
		<setting type="lsep" label="40300" />
		<setting id="general.playstyle.movie" type="enum" label="40308" lvalues="40310|40311" default="0" />
		<setting id="general.playstyle.episode" type="enum" label="40309" lvalues="40310|40311" default="0" />
		<setting id="general.autotrynext" type="bool" label="40312" default="true" />
		<setting id="general.timeout" type="slider" label="40425" option="int" range="2, 60" default="9" />
		<setting id="general.terminate.oncloud" type="bool" subsetting="true" label="Terminate on cloud sources" default="true" />

		<!-- Skip Intro Dialog -->
		<setting type="lsep" label="40323" />
		<setting id="smartplay.skipintrodialog" type="bool" label="40324" default="true" />
		<setting id="skipintro.aniskip.enable" type="bool" subsetting="true" label="40431" default="true" visible="eq(-1,true)" />
		<setting id="skipintro.aniskip.offset" type="slider" subsetting="true" label="40432" visible="eq(-1,true) + eq(-2,true)" range="-10,10" default="-3"/>
		<setting id="skipintro.time" type="slider" subsetting="true" label="40325" option="int" range="10,100" default="80" visible="eq(-3,true)" />
		<setting id="skipintro.delay" type="slider" subsetting="true" label="40424" option="int" range="1,100" default="2" visible="eq(-4,true)" />
		<setting id="skipintro.duration" type="slider" subsetting="true" label="40430" option="int" range="0,5" visible="eq(-5,true)" default="2" />

		<!-- Next Episode Dialog -->
		<setting type="lsep" label="40317" />
		<setting type="sep" />
		<setting id="smartplay.playingnextdialog" type="bool" label="40318" default="true" />
		<setting id="skipoutro.aniskip.enable" type="bool" subsetting="true" label="40431" default="true" visible="eq(-1,true)" />
		<setting id="skipoutro.aniskip.offset" type="slider" subsetting="true" label="40432" visible="eq(-1,true) + eq(-2,true)" range="-10,10" default="-3"/>
		<setting id="playingnext.time" type="slider" subsetting="true" label="40319" option="int" range="10,180" default="120" visible="eq(-3,true)" />


	</category>

	<!-- Sort & Filter -->
	<category label="40326">
		<!-- Source Filters -->
		<setting type="lsep" label="40327"/>
		<setting id="general.maxResolution" type="enum" label="40328" values="4k|1080p|720p|NA" default="4k" />
		<setting id="general.disable265" type="bool" label="40329" default="false" />
		<setting id="general.source" type="labelenum" label="40330" default="Both" values="Sub|Dub|Both" />

		<!-- Source Sorting -->
		<setting type="lsep" label="40331"/>
		<setting id="general.sortsources" type="enum" label="40332" values="Torrents|Embeds" default="Torrents" />
		<setting id="general.sourcesort" type="labelenum" label="40333" values="None|Sub|Dub" default="Dub" />



<!--		&lt;!&ndash; Preferences &ndash;&gt;-->
<!--		<setting type="lsep" label="40313" />-->
<!--		<setting type="sep"/>-->
<!--		<setting id="general.audio" type="enum" label="40314" lvalues="40315|40316" default="40316"/>-->
<!--		<setting id="general.subtitles" type="enum" label="40435" default="40436" lvalues="40436|40437|40438|40439|40440|40441|40442|40443|40444|40445|40446|40447|40448|40449|40450|40451|40452|40453|40454" />-->

		<!-- Search Filtering -->
		<setting type="lsep" label="40409"/>
		<setting id="divflavors.bool" label="40428" type="bool" default="false"/>
		<setting id="divflavors.menu" type="labelenum" subsetting="true" label="40429" values="Dub|Both" default="Both" visible="eq(-1,true)"/>
		<setting id="contentformat.bool" label="40391" type="bool" default="false"/>
		<setting id="contentformat.menu" type="enum" subsetting="true" label="40392" lvalues="40393|40394|40395|40396|40397|40398|40399" default="40393" visible="eq(-1,true)"/>
		<setting id="contentorigin.bool" label="40418" type="bool" default="false"/>
		<setting id="contentorigin.menu" type="enum" subsetting="true" label="40419" lvalues="40420|40421|40422|40423" default="0" visible="eq(-1,true)"/>
		<setting id="search.adult" type="bool" label="40410" default="false" />

	</category>

	<!-- Accounts -->
	<category label="40334">
		<!-- Real-Debrid -->
		<setting type="lsep" label="40335" />
		<setting id="realdebrid.enabled" type="bool" default="false" label="40336" />
		<setting id="rd.username" type="text" label="40337" default="" enable="false" visible="eq(-1,true)" />
		<setting id="rd.auth.status" type="text" label="Real-Debrid Status" default="" enable="false" visible="eq(-2,true)" />
		<setting id="rd.auth_start" type="action" label="40338" option="close" action="RunPlugin(plugin://plugin.video.otaku/auth/realdebrid)" visible="eq(-3,true)" />
		<setting id="rd.refresh.token" type="action" label="Refresh Debrid Token" option="close" action="RunPlugin(plugin://plugin.video.otaku/refresh/realdebrid)" visible="eq(-4,true)" />
		<setting id="rd.priority" type="slider" subsetting="true" label="40339" option="int" range="1,10" default="10" visible="eq(-5,true)" />
		<setting id="rd.cloudInspection" type="bool" subsetting="true" label="40372" default="true" visible="eq(-6,true)" />

		<!-- All Debrid -->
		<setting type="lsep" label="40340" />
		<setting id="alldebrid.enabled" type="bool" default="false" label="40341" />
		<setting id="alldebrid.username" type="text" default="" label="40342" enable="false" visible="eq(-1,true)"/>
		<setting id="alldebrid.auth_start" type="action" label="40343" option="close" action="RunPlugin(plugin://plugin.video.otaku/auth/alldebrid)" visible="eq(-2,true)" />
<!--		<setting id="alldebrid.refresh.token" type="action" label="Refresh Debrid Token" option="close" action="RunPlugin(plugin://plugin.video.otaku/refresh/alldebrid)" visible="eq(-3,true)" />-->
		<setting id="alldebrid.priority" type="slider" subsetting="true" label="40344" option="int" range="1,10" default="10" visible="eq(-3,true)" />
		<!-- <setting id="alldebrid.cloudInspection" type="bool" subsetting="true" label="40372" default="false" visible="eq(-4,true)" /> -->
		
		<!-- Debrid-Link -->
		<setting type="lsep" label="40411" />
		<setting id="dl.enabled" type="bool" default="false" label="40412" />
		<setting id="dl.username" type="text" default="" label="40413" enable="false" visible="eq(-1,true)"/>
		<setting id="dl.auth_start" type="action" label="40414" option="close" action="RunPlugin(plugin://plugin.video.otaku/auth/debridlink)" visible="eq(-2,true)" />
		<setting id="dl.refresh.token" type="action" label="Refresh Debrid Token" option="close" action="RunPlugin(plugin://plugin.video.otaku/refresh/debridlink)" visible="eq(-3,true)" />
		<setting id="dl.priority" type="slider" subsetting="true" label="40415" option="int" range="1,10" default="10" visible="eq(-4,true)" />
		<!-- <setting id="dl.cloudInspection" type="bool" subsetting="true" label="40372" default="false" visible="eq(-5,true)" /> -->

		<!-- Premiumize -->
		<setting type="lsep" label="40363" />
		<setting id="premiumize.enabled" type="bool" default="false" label="40364" />
		<setting id="premiumize.username" type="text" label="40365" default="" enable="false" visible="eq(-1,true)" />
		<setting id="premiumize.auth_start" type="action" label="40366" option="close" action="RunPlugin(plugin://plugin.video.otaku/auth/premiumize)" visible="eq(-2,true)" />
<!--		<setting id="premiumize.refresh.token" type="action" label="Refresh Debrid Token" option="close" action="RunPlugin(plugin://plugin.video.otaku/refresh/premiumize)" visible="eq(-3,true)" />-->
		<setting id="premiumize.priority" type="slider" subsetting="true" label="40367" option="int" range="1,10" default="10" visible="eq(-3,true)" />
		<setting id="premiumize.cloudInspection" type="bool" subsetting="true" label="40372" default="false" visible="eq(-4,true)" />
	</category>

	<!-- Watchlist -->
	<category label="40345">
		<!-- General -->
		<setting type="lsep" label="40300"/>
		<setting id="watchlist.update.enabled" label="40346" type="bool" default="false"/>
		<setting id="watchlist.update.flavor" type="labelenum" subsetting="true" label="40347" values="MAL|Kitsu|AniList|Simkl" default="MAL" visible="eq(-1,true)"/>
		<setting id="watchlist.update.percent" type="slider" subsetting="true" label="Set Percent to Mark as Watched" default="80" range="70,90" option="int"/>
		<setting type="text" label="NOTE:   Next up Dialog will not begin until this percentage is met" />

		<!-- MyAnimeList -->
		<setting type="lsep" label="40361"/>
		<setting id="mal.enabled" label="40362" type="bool" default="false"/>
    		<setting id="mal.username" type="text" subsetting="true" label="40350" default="" enable="false" visible="eq(-1,true)"/>
		<setting id="mal.login" type="action" subsetting="true" label="40352" option="close" action="RunPlugin(plugin://plugin.video.otaku/watchlist_login/mal?auth_dialog=true)" visible="eq(-2,true)"/>
		<setting id="mal.listsettings" type="action" label="40353" option="close" visible="eq(-3,true)"/>
		<setting id="mal.sort" type="labelenum" subsetting="true" label="40354" values="List Score|Last Updated|Anime Start Date|Anime Title" default="Last Updated" visible="eq(-4,true)"/>
		<setting id="mal.userid" type="text"  default="" visible="false"/>
		<setting id="mal.authvar" type="text"  default="" visible="false"/>
		<setting id="mal.token" type="text"  default="" visible="false"/>
		<setting id="mal.refresh" type="text"  default="" visible="false"/>

		<!-- Anilist -->
		<setting type="lsep" label="40348"/>
		<setting id="anilist.enabled" label="40349" type="bool" default="false"/>
		<setting id="anilist.username" type="text" subsetting="true" label="40350" default="" enable="false" visible="eq(-1,true)"/>
		<setting id="anilist.token" type="text" subsetting="true" label="40351" default="" enable="false" visible="eq(-2,true)" />
		<setting id="anilist.login" type="action" subsetting="true" label="40352" option="close" action="RunPlugin(plugin://plugin.video.otaku/watchlist_login/anilist?auth_dialog=true)" visible="eq(-3,true)"/>
		<setting id="anilist.listsettings" type="action" label="40353" option="close" visible="eq(-4,true)"/>
		<setting id="anilist.sort" type="labelenum" subsetting="true" label="40354" values="Romaji Title|English Title|Score|Progress|Last Updated|Last Added" default="Last Updated" visible="eq(-5,true)"/>

		<!-- Kitsu -->
		<setting type="lsep" label="40355"/>
		<setting id="kitsu.enabled" label="40356" type="bool" default="false"/>
    	<setting id="kitsu.username" type="text" subsetting="true" label="40350" default="" enable="false" visible="eq(-1,true)" />
		<setting id="kitsu.authvar" type="text" subsetting="true" label="40357" default="" visible="eq(-2,true)"/>
    	<setting id="kitsu.password" type="text" subsetting="true" option="hidden" label="40358" default="" visible="eq(-3,true)"/>
		<setting id="kitsu.login" type="action" subsetting="true" label="40359" option="close" action="RunPlugin(plugin://plugin.video.otaku/watchlist_login/kitsu)" visible="eq(-4,true)"/>
		<setting id="kitsu.listsettings" type="action" label="40353" option="close" visible="eq(-5,true)"/>
		<setting id="kitsu.sort" type="labelenum" subsetting="true" label="40354" values="Date Updated|Progress|Title" default="Date Updated" visible="eq(-6,true)"/>
		<setting id="kitsu.titles" type="labelenum" subsetting="true" label="40360" values="Canonical|Romanized|English" default="Canonical" visible="eq(-7,true)"/>

		<!--Simkl -->
		<setting type="lsep" label="SIMKL"/>
		<setting id="simkl.enabled" label="Enable Simkl" type="bool" default="false"/>
		<setting id="simkl.username" type="text" subsetting="true" label="40350" default="" enable="false" visible="eq(-1,true)"/>
		<setting id="simkl.login" type="action" subsetting="true" label="40352" option="close" action="RunPlugin(plugin://plugin.video.otaku/watchlist_login/simkl)" visible="eq(-2,true)"/>
		<setting id="simkl.sort" type="labelenum" subsetting="true" label="40354" values="Last Updated|Last Added|Anime Title|User Rating" default="Last Updated" />
	</category>

	<!-- Menus -->
	<category label="40400">
		<!-- Main Menu Items -->	
		<setting type="lsep" label="40400"/>
		<setting id="anilist_airing_anime" label="50001" type="bool" default="true"/>
		<setting id="anilist_upcoming_next_season" label="50034" type="bool" default="true"/>
		<setting id="anilist_top_100_anime" label="50009" type="bool" default="true"/>
		<setting id="anilist_genres" label="50010" type="bool" default="true" />
		<setting id="menu.lastwatched" label="Last Watched" type="bool" default="true" />
		<setting id="search_history" label="50011" type="bool" default="true" visible="true"/>
		<setting id="tools" label="50012" type="bool" default="true"/>

	</category>

	<!-- Shortcuts -->
	<category label="40416">
		<!-- Tools -->
		<setting type="lsep" label="50005"/>
		<setting id="change_log" type="action" label="30027" action="RunPlugin(plugin://plugin.video.otaku/change_log)"/>
		<setting id="clear_cache" type="action" label="30021" action="RunPlugin(plugin://plugin.video.otaku/clear_cache)"/>
		<setting id="clear_torrent_cache" type="action" label="30022" action="RunPlugin(plugin://plugin.video.otaku/clear_torrent_cache)"/>
		<setting id="clear_history" type="action" label="30023" action="RunPlugin(plugin://plugin.video.otaku/clear_history)"/>
		<setting id="rebuild_database" type="action" label="30026" action="RunPlugin(plugin://plugin.video.otaku/rebuild_database)"/>
		<setting id="wipe_addon_data" type="action" label="30024" action="RunPlugin(plugin://plugin.video.otaku/wipe_addon_data)"/>
	</category>
</settings>
