<settings>   
    <category label="Settings">
        <setting id="adult_pw" type="text" label="Adult Channels Password" default="Enter Here!" />

        <setting type="lsep" label="Language Invoker"/>
        <setting id="reuselanguageinvoker.toggle" label="Toggle Re-Use Language Invoker:   [COLOR red]Faster speeds but some instability![/COLOR]" type="action" option="close"
			 action="RunPlugin(plugin://plugin.video.daddylive?mode=toggleLanguageInvoker)" />
		<setting id="reuselanguageinvoker.status" label="Re-Use Language Invoker Status: " type="text" default="Disabled" enable="false" />
    </category>
</settings>
